VER_METHOD="did:iota:ebsi:0xb55e92acd32e2061c6bb9807ef51b770f307e8c4baf9a53b7568f957e249cc81#I0aljLDHysFuCPZGSfTUqmFUKriyZ54tbrHNKNRR8Eg"
KEY_TYPE='EdDSA'
PRIVATE_KEY='-----BEGIN PRIVATE KEY-----
MC4CAQAwBQYDK2VwBCIEIJHO3BJZU444TUPYZlVnNEqvH5AGfJAMggLk7oJvvDP+
-----END PRIVATE KEY-----'